<% layout('layouts/boilerplate') %>
<div class="row">
	<h2 class="text-center text-uppercase display-5 mb-4">Sign Up</h2>
	<div class="col-lg-4 col-md-7 offset-lg-4 offset-md-3">
		<form action="/register" method="POST" class="validated-form" novalidate>
			<div class="mb-3">
				<label for="username" class="form-label">Username</label>
				<input
					type="text"
					class="form-control"
					id="username"
					name="username"
					required
				/>
				<div class="valid-feedback">Looks good.</div>
				<div class="invalid-feedback">Required.</div>
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">Email address</label>
				<input
					type="email"
					class="form-control text-lowercase"
					id="email"
					name="email"
					required
				/>
				<div class="valid-feedback">
					We'll never share your email with anyone else.
				</div>
				<div class="invalid-feedback">Required!</div>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input
					type="password"
					id="password"
					class="form-control"
					name="password"
					required
				/>
				<div class="valid-feedback">Looks Good.</div>
				<div class="invalid-feedback">
					Your password must be 8-20 characters long, contain letters and
					numbers, and must not contain spaces, special characters, or emoji.
				</div>
			</div>
			<div class="d-grid">
				<button type="submit" class="btn btn-primary mb-3">Submit</button>
			</div>
		</form>
		<p class="text-center text-black-50">
			Already have an account?
			<a href="/login" class="text-uppercase text-success text-decoration-none"
				>Sign In</a
			>.
		</p>
	</div>
</div>
